<div class="home">
  <h1>
    Сайт для аналізу рівня розвитку економічних процесів в Україні
  </h1>
  <div>
    <h3>
      Регіональний розвиток – складний багатоаспектний,
      багаторівневий процес якісної зміни простору,
      населення,
      господарства регіонів країни.
    </h3>
    <img class="home__banner"
         src="assets/ukraine-wallpaper.jpg"
         alt="some picture">
    <h3 class="text">
      веб додаток дозволяє швидко та якісно розрахувати інтегральні оцінки економічного розвитку регіонів України
    </h3>

  </div>
  <div class="home__nav-btn">
    <button mat-raised-button
            [routerLink]="'calculation'"
            class="home__calculation-btn">
      Go to calculation
    </button>
  </div>
</div>
