.home {
  text-align: center;

  &__banner {
    width: 100%;
    max-width: fit-content;
  }

  &__calculation-btn {
    margin-top: 2rem;
    min-width: 250px;
    min-height: 50px;
    font-size: 1.5rem;
    padding: 0.75rem;
  }
}
